@model Coursaty.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<div class="accountForm forgotPassword text-center">
    <div class="container">


        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <h2>@ViewBag.Title</h2>

            <p class="welcomeMsg">Search about it </p>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="form-group">
                @Html.AntiForgeryToken()
                <input type="submit" class="btn siteBtn" value="Send Email" />
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
